* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.misproyectos {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
    object-fit: cover;
}

.image-container:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 2;  /* Makes sure the overlay text stays on top */
}

.overlay span {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Inicialmente centrado */
    transition: transform 0.3s ease;  /* Transición suave cuando el texto se mueve */
}



